---
layout: default
---

<div class="home">

  <h1 class="page-heading">Posts</h1>

  {{ content }}

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <i class="fa fa-{{ post.icon }} post-icon"></i>

        <span class="post-meta">
            {% if post.nsfw == true %}
                <span class="post-nsfw">NSFW</span>
            {% endif %}
            {{ post.date | date: "%b %-d, %Y" }}
        </span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>

        {% if post.description != null %}
          <p class="post-description">{{ post.description }}</p>
        {% endif %}
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">Got an RSS reader? Stick my <a href="{{ "/feed.xml" | relative_url }}">RSS feed</a> on it.</p>

</div>