@import url("http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

.post-description {
    padding: 0;
    color: #555555;
    margin: -10px 0 0 0;
    font-size: 14px;
}

.post-icon {
    color: rgb(42, 122, 226);
    font-size: 55px;
    margin-left: -60px;
    float: left;
}

.post-list {
    li {
        padding-left: 60px;
    }
}

.post-nsfw {
    font-size: 12px;
    font-weight: 700;
    margin-right: 2px;
    background-color: red;
    color: white;
    padding: 0 2px;
    border-radius: 2px;
}

.rss-subscribe {
    font-size: 14px;
    color: #888888;
}